<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Video Streaming With Node</title>
  <script src="renderer.js"></script>
  <style>
    body {
      max-width: 100%;
      height: 100vh;
      background-color: rgb(247, 243, 243);
      display: block;
      margin: auto;
      align-items: center;
      justify-content: center;
    }
  </style>
</head>

<body>
  <form id="commandForm">
    <label for="commandInput">Enter Parameter:</label>
    <input type="text" id="commandInput" name="commandInput" required>
    <button type="submit">Execute</button>
  </form>
  <form id="searchForm">
    <label for="searchInput">Rechercher un titre:</label>
    <input type="text" id="searchInput" name="searchInput" >
    <% let tags = results.flatMap(result => result.tags); %>
    <% tags = [...new Set(tags)]; %>
    <% tags.forEach(function(tag){ %>
    <label for="tagInput"><input type="checkbox" id="tagInput" name="tagInput" value="<%= tag %>"> <%= tag %></label>
    <% }); %>
    <input type="text" id="tagInput" name="tagInput" >
    <button type="submit">Rechercher</button>
  </form>
  <ul id="resultsList">
    <% results.forEach(function(result){ %>
    <a href="/watch?id=<%= result.yid %>">
      <img src="https://img.youtube.com/vi/<%=result.yid %>/hqdefault.jpg" alt="Thumbnail for YouTube video">
      <p><%=result.fileName %></p>
      <% result.tags.forEach(function(tag){ %>
<p id ="tag "><%= tag %></p>
        <% }); %>
    </a>
    <a href="/delete?id=<%= result.yid %>">
      <p>supprimée</p>
    </a>
    <% }); %>
  </ul>
  <script>
    const searchForm = document.getElementById('searchForm');
    const resultsList = document.getElementById('resultsList');
    const resultsHtml = resultsList.innerHTML;
while(true){
     // e.preventDefault();
      setTimeout(() => {
        const searchInput = document.getElementById('searchInput').value;
        const tagInputs = document.querySelectorAll('input[name="tagInput"]:checked');
        const tagValues = Array.from(tagInputs).map(input => input.value.toLowerCase());
        const filteredResultsHtml = resultsHtml.split('</a>').filter((result) => {
          const pTags = result.match(/<p id="tag ">(.*?)<\/p>/g);
          const tags = pTags ? pTags.map(tag => tag.replace(/<p id="tag ">(.*?)<\/p>/, '$1')) : [];
          return result.includes(searchInput.toLowerCase()) && 
          (tagValues.length === 0 || tagValues.every(tag => tags.includes(tag)));
        });
        const html = filteredResultsHtml.map((result) => result + '</a>').join('');
        resultsList.innerHTML = html;
      }, 10000);
     
    };
  </script>
  <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/673f4ae72480f5b4f5a1dbce/1id7jp68o';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
</body>

</html>