<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Video Streaming With Node</title>
  <script src="renderer.js"></script>
  <style>
    body {
      max-width: 100%;
      height: 100vh;
      background-color: rgb(247, 243, 243);
      display: block;
      margin: auto;
      align-items: center;
      justify-content: center;
    }
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.9);
    }
    .modal-content {
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }
  </style>
</head>

<body>
  <form id="commandForm">
    <label for="commandInput">Enter Parameter:</label>
    <input type="text" id="commandInput" name="commandInput" required>
    <button type="submit">Execute</button>

  </form>
  <form id="tagForm">
    <label for="tagSelect">Sélectionnez les tags:</label>
    <select id="tagSelect" multiple>
      <% results.forEach(function(result){ %>
        <% result.tags.forEach(function(tag){ %>
          <option value="<%= tag %>"><%= tag %></option>
        <% }); %>
      <% }); %>
    </select>
    <button type="submit">Envoyer les tags</button>
  </form>
  <script>
    const tagForm = document.getElementById('tagForm');
    tagForm.addEventListener('submit', (e) => {
      e.preventDefault();
      const selectedTags = Array.from(document.getElementById('tagSelect').selectedOptions).map(option => option.value);
      fetch(`/api/search?tags=${selectedTags.join(',')}`, {
        method: 'GET'
      })
      .then(response => response.json())
      .then(data => {
        const resultsList = document.getElementById('resultsList');
        resultsList.innerHTML = '';
        data.forEach(function(result){
          const videoDiv = document.createElement('div');
          videoDiv.innerHTML = `
            <a href="/watch?id=${result.yid}" onclick="openModal('modal${result.yid}')">
              <img src="https://img.youtube.com/vi/${result.yid}/hqdefault.jpg" alt="Thumbnail for YouTube video">
              <p>${result.fileName}</p>
              ${result.tags.map(tag => `<p id="tag">${tag}</p>`).join('')}
            </a>
            <a href="/delete?id=${result.yid}">
              <p>supprimée</p>
            </a>
            <div id="modal${result.yid}" class="modal">
              <div class="modal-content">
                <span class="close" onclick="closeModal('modal${result.yid}')">&times;</span>
                <iframe width="100%" height="100%" src="/watch?id=${result.yid}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          `;
          resultsList.appendChild(videoDiv);
        });
      })
      .catch(error => console.error(error));
    });
    function openModal(modalId) {
      document.getElementById(modalId).style.display = "block";
    }
    function closeModal(modalId) {
      document.getElementById(modalId).style.display = "none";
    }
  </script>
  <ul id="resultsList">
    <% results.forEach(function(result){ %>
    <a href="/watch?id=<%= result.yid %>" onclick="openModal('modal<%= result.yid %>')">
      <img src="https://img.youtube.com/vi/<%=result.yid %>/hqdefault.jpg" alt="Thumbnail for YouTube video">
      <p><%=result.fileName %></p>
      <% result.tags.forEach(function(tag){ %>
<p id ="tag "><%= tag %></p>
        <% }); %>
    </a>
    <a href="/delete?id=<%= result.yid %>">
      <p>supprimée</p>
    </a>
    <div id="modal<%= result.yid %>" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal('modal<%= result.yid %>')">&times;</span>
        <iframe width="100%" height="100%" src="/watch?id=<%= result.yid %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <% }); %>
  </ul>
  <script>
    const searchForm = document.getElementById('searchForm');
    const resultsList = document.getElementById('resultsList');
    const resultsHtml = resultsList.innerHTML;
    const tagInputs = document.querySelectorAll('input[name="tagInput"]');
 
  </script>
  <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/673f4ae72480f5b4f5a1dbce/1id7jp68o';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
  </script>
  <!--End of Tawk.to Script-->
</body>

</html>