<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <style>
      body {
        max-width: 100%;
        height: 100vh;
        background-color: rgb(14, 14, 14);
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        justify-content: center;
        color: #ffffff; /* Change la couleur du texte à blanc */
      }
    </style>
  </head>
  <body>
    <video id="videoPlayer" width="70%" controls autoplay=false >
      <source src="/video/?id=<%= code %>" type="video/mp4" />
    </video>
    <a href="/" style="color: #ffffff;">Retour au menu principal</a>
    <a href="/delete?id=<%= code %>" style="color: #ffffff;">Supprimer</a>
    <p style="color: #ffffff;"><%= videodata.description%></p>
  <div style="margin-top: 20px;">
    <h2>Commentaires</h2>
    <% videodata.comments.forEach(comment => { %>
      <p style="color: #ffffff;"><%= comment %></p>
    <% }); %>
  </div>
  </body>
  <script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('videoPlayer').muted = false;
    document.getElementById('videoPlayer').play();
  });
  document.getElementById('videoPlayer').addEventListener('ended', function() {
    window.location.href = "/watch?id=" + "<%= nextVideo.id %>";
  });
  </script>
  <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/673f4ae72480f5b4f5a1dbce/1id7jp68o';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
</html>